@using Nop.Web.Framework.Web;
@{
    //load sitemap
    var siteMap = new Nop.Web.Framework.Menu.XmlSiteMap();
    siteMap.LoadFrom("~/Administration/sitemap.config");
    
    //menu plugin
    var adminMenuPlugins = EngineContext.Current.Resolve<Nop.Core.Plugins.IPluginFinder>()
        .GetPlugins<IAdminMenuPlugin>()
        .Where(x => x.Authenticate())
        .ToList();
    var currentController = ViewContext.RouteData.Values["controller"];
    var currentAction = ViewContext.RouteData.Values["action"];
}
@helper RenderMenuItem(Nop.Web.Framework.Menu.SiteMapNode item,string currentController,string currentAction)
{
    string url = null;
    bool active = false;
    if (!string.IsNullOrEmpty(item.ControllerName) && !string.IsNullOrEmpty(item.ActionName))
    {
        if (item.ControllerName.Equals(currentController, StringComparison.OrdinalIgnoreCase) && item.ActionName.Equals(currentAction, StringComparison.OrdinalIgnoreCase))
        {
            active = true;
        }
            
        url = Url.Action(item.ActionName, item.ControllerName, item.RouteValues, null, null);
    }
    else if (!string.IsNullOrEmpty(item.Url))
    {
        url = item.Url.StartsWith("~/", StringComparison.Ordinal) ? Url.Content(item.Url) : item.Url;
    }
    <li @(item.ChildNodes.Any(x => x.Visible) ? Html.Raw("class=\"treeview\"") : null)>

        @if (!String.IsNullOrEmpty(url))
        {
            <a href="@url" @Html.Raw((active ? "class=\"activelink\"" : ""))>
                <i class="fa fa-dashboard"></i> <span>@item.Title</span>
            </a>
        }
        else
        {
            <a href="#">
                <i class="fa fa-bar-chart-o"></i>
                <span>@item.Title</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
        }
        @if (item.ChildNodes.Any(x => x.Visible))
        {
            <ul class="treeview-menu">
                @foreach (var childItem in item.ChildNodes.Where(x => x.Visible))
                {
                    @RenderMenuItem(childItem, currentController, currentAction)
                }
            </ul>
        }
        </li>
}

<ul class="sidebar-menu" id="sidebar-root-menu">
    @foreach (var item in siteMap.RootNode.ChildNodes.Where(x => x.Visible))
    {
        @RenderMenuItem(item, string.Format("{0}", currentController), string.Format("{0}", currentAction))
    }
    @*plugin custom items*@
    @if (adminMenuPlugins.Any())
    {
        var pluginRootMenuItem = new Nop.Web.Framework.Menu.SiteMapNode()
        {
            Title = T("Admin.Plugins").Text,
            Visible = true
        };
        foreach (var adminMenuPlugin in adminMenuPlugins)
        {
            pluginRootMenuItem.ChildNodes.Add(adminMenuPlugin.BuildMenuItem());
        }
        @RenderMenuItem(pluginRootMenuItem, string.Format("{0}", currentController), string.Format("{0}", currentAction))
    }
</ul>
<script type="text/javascript">
    $("#sidebar-root-menu a.activelink").parents("li").addClass("active");
</script>